@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~font-awesome/css/font-awesome.css'; */
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"');*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 37px;
    position: relative;
}

footer {
    bottom: 0;
    height: 37px;
    left: 0;
    position: absolute;
    width: 100%;
}