<div class="msg-box" >
  <!-- <img class="spinner" *ngIf="showLoading" src="https://raw.githubusercontent.com/vasanth1490/static/master/img/spinner.gif"> -->
  <div class="spinner-border text-info spinner" role="status" *ngIf="showLoading">
    <span class="sr-only">Loading...</span>
  </div>
  <h3 *ngIf="isNoProduct && !showLoading">No Data Available</h3>
</div>
<div class="prd-box" *ngIf="!isNoProduct && !showLoading">
	<div class="prd-top clearfix">
		 <a class="nav-link" routerLink="/products" routerLinkActive="active">View All Products</a>
	</div>
	<div class="prd-main clearfix">
		<div class="prd-img">
			<img [src]="currentProduct.imgurl">
    </div>
    <div class="prd-info">
      <div class="clearfix">
        <div class="prd-sum">
          <h3>{{currentProduct.name}}</h3>
          <p>Price: {{currentProduct.price | currency : 'INR'}}</p>
          <p>{{currentProduct.instock ? 'In Stock' : 'Not Available'}}</p>
        </div>
        <div class="prd-cart">        
          <span>Quantity</span><input class="form-control cart-num" [(ngModel)]="prodQuantity">
          <button class="btn btn-primary btn-add-cart" (click)="addToCart()">Add To Cart</button>
        </div>
      </div>
      <ul>
        <li *ngFor="let desc of currentProduct.description">{{desc}}</li>
      </ul>
      
    </div>
  </div>
</div>